In [2]:
#Q1. Create one variable containing following type of data:
a="string"#(i)string
b=[1,2,"list","pwskills"]
c=10.23
d=(1,2,"tuple","pwskills")

float

In [ ]:
#Q2. Given are some following variables containing data:
#What will be the data type of the above given variable.
'''#(i)   var1='' is a string data type
   #(ii)  var2= ‘[ DS , ML , Python]’ is a string data type
   #(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] is list data type
   #(iv)  var4 = 1. is a int data type'''

In [ ]:
#Q3. Explain the use of the following operators using an example:
a=4
b=8

print(b/a) #(i)using division operator prints 2.0
print(b%a) #(ii) using modulus operator for the remainder which prints 0 
print(b//a)# (iii) using floor division which gives 2
print(a**b) # (iv) using exponential operator which gives 65536

In [ ]:
#Q.4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.
list=[1,2,3,4,'string','pwskills',10.23,'items',9,10]
for i in list:
    print(i)

In [ ]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.
a=int(input("Enter Number to be checked "))
b=int(input("Enter Number with which will be checked"))
count=0
while a%b==0:
 count=a//b
 print("Te number is divisible\n", "the floor count is=",count)
 break
else:
    print ("not divisible")

In [ ]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.
list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in list:
   if i%3==0:
        print(i," ""is divisible by 3")
   else:
        print(i," ""not divisible by 3")

In [ ]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.


  #An immutable data type is a datatype in which we have a value that cannot be changed after it is created Ex-strings,integers, and tuples
  #mutable data types are the datatypes that can be changed even after it is created Ex - lists, dictionaries, and sets.


        # here we create a tuple
        my_tuple = (1, 2, 3)
        # now we try to modify an element
        my_tuple[0] = 4 
        #The output will be a TypeError
  
    
#WHEREAS


        #we create a list
        list=[1,2,3]
        #we try to modify the elenent
        list[0]= 4
        print(list)
        #The output will be [4,2,3]